/* Common */
@keyframes openForm {
    0% {
        width: 64px;
        height: 64px;
    }

    50% {
        width: 320px;
        height: 64px;
    }

    100% {
        width: 320px;
        height: 380px;
    }
}

@import url(https://fonts.googleapis.com/css?family=Lato);

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    outline: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #D1DB82;
}

/* Form opened styles */
.form.active {
    padding: 24px;
    background: #6C4A27;
    border: 6px solid #CB9A4B;
    box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, .3);
    overflow: hidden;
    width: 320px;
    height: 380px;
    -webkit-animation: openForm 1.4s cubic-bezier(.9, .1, .1, .9);
    animation: openForm 1.4s cubic-bezier(.9, .1, .1, .9);
    top: 0;
    opacity: 1;
}

.form.active::after,
.form.active::before {
    opacity: 0;
}

.form.active .submit {
    top: 0;
    opacity: 1;
}

.form.active input,
.form.active textarea {
    top: 0;
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    background: #fefefe;
    margin: 12px 0 0 0;
    font-style: italic;
    border: 2px solid #bbb;
}

.form.active input:nth-child(1) {
    transition: all .5s ease 1s;
}

.form.active input:nth-child(2) {
    transition: all .7s ease 1s;
}

.form.active textarea {
    top: 0;
    opacity: 1;
    max-height: 100px;
    transition: all .9s ease 1s;
}

.form.active h1 {
    top: 0;
    opacity: 1;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #CB9A4B;
    margin-bottom: 32px;
    transition: all .3s ease 1s;
}

/* Form closed styles */
.form {
    width: 64px;
    height: 64px;
    background: #6C4A27;
    border: 6px solid #CB9A4B;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, .3);
    cursor: pointer;
    overflow: hidden;
    top: -12px;
    opacity: 0;
}

.form::before,
.form::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 1;
    left: 10px;
    z-index: 100;
    transition: all .1s linear;
    -webkit-transform: scale(.9999, .9999);
    transform: scale(.9999, .9999);
}

.form::before {
    top: 15px;
    -webkit-transform: perspective(1000) rotateX(0deg);
    transform: perspective(1000) rotateX(0deg);
    transform-origin: 50% 0;
    border-top: 11px solid #fff;
    border-right: 16px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 16px solid transparent;
}

.form::after {
    top: 17px;
    border-top: 11px solid transparent;
    border-right: 16px solid #fff;
    border-bottom: 11px solid #fff;
    border-left: 16px solid #fff;
}

.form:hover::before {
    -webkit-transform: perspective(1000) rotateX(180deg);
    transform: perspective(1000) rotateX(180deg);
}

/* ok mes */
.ok_message {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
    height: 64px;
    background: #6C4A27;
    z-index: 100;
    -webkit-transform: scale(0, 0) rotate(-90deg);
    transform: scale(0, 0) rotate(-90deg);
    transition: all .5s .3s cubic-bezier(.9, .1, .1, .9);
}

.ok_message span {
    line-height: 64px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    color: #CB9A4B;
    opacity: 0;
    -webkit-transform: scale(.2, .2);
    transform: scale(.2, .2);
    transition: all .6s .4s ease;
}

.ok_message.active {
    width: 320px;
    margin-left: -160px;
    -webkit-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
}

.ok_message.active span {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    left: 0px;
}